<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
        <img src="static/images/gallery/thumbs/Avatar.JPG" alt="Avatar" class="avatar">
        </div>

        <div class="container">
        <label for="fname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="fname" required>

        <label for="lname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lname" required>

        <label for="dept"><b>Department</b></label>
        <input type="text" placeholder="Enter Department" name="dept" required>

        <label for="pin"><b>Authentication Pin</b></label>
        <input type="password" placeholder="Enter Password" name="pin" required>

        <button type="submit">Register</button>
        </div>

    </form>
</div>
</li>